.loginsection1 {
  border: 1px solid #f9f9f9;
  margin: 110px auto !important;
  display: block !important;
  background-color: #f9f9f9;
  max-width: 620px !important;
  padding: 0 !important;
  padding-bottom: 35px !important;
  box-shadow: 4px 2px 5px 1px #80808057;
}
.steper {
  margin: 20px 0px 30px;
}
.maininput blockquote {
  margin: 0;
}
.maininput blockquote input {
  width: 270px !important;
}
.loginsection1 h1 {
  text-align: center;
  border: 1px solid #1366ce;
  background-color: #1366ce;
  padding: 12px 0;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}
.loginsection1 img {
  width: 240px;
  padding-top: 10px;
  margin: 0 auto;
  display: block;
}
.loginsection1 span.maininput {
  display: flex;
  justify-content: space-around;
}
h2.personaltext {
  margin: 0 auto;
  display: block;
  max-width: 270px;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 60px !important;
}
.loginsection1 h3 {
  margin-left: 25px;
}
.loginsection1 input[type="submit"].backbutton {
  background-color: #ffffff;
  color: #1366ce;
  border-color: #fff;
  box-shadow: 2px 2px 4px 0px #80808078;
}
.loginsection1 input[type="submit"] {
  width: 240px;
  font-size: 25px;
  padding: 12px !important;
  border: 1px solid #1366ce;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px auto;
  color: #fff;
  background-color: #1366ce;
  display: block;
  font-weight: 600;
}
.loginsection1 input[type="submit"].backbutton {
  background-color: #fff;
  color: #1366ce;
  border-color: #ffffff;
  box-shadow: 2px 3px 8px 0px #80808080;
}
.MuiFormGroup-root.css-dmmspl-MuiFormGroup-root {
  display: block !important;
}

@media (max-width: 500px) {
  .loginsection1 {
    transform: scale(0.8);
    max-width: 770px !important;
    margin: -27px !important;
    margin-left: 37px !important;
    margin-bottom: -125px !important;
  }
}
