.loginsection1 {
  border: 1px solid #f9f9f9;
  margin: 110px auto !important;
  display: block !important;
  background-color: #f9f9f9;
  max-width: 620px !important;
  padding: 0 !important;
  padding-bottom: 35px !important;
  box-shadow: 4px 2px 5px 1px #80808057;
}
.loginsection1 h1 {
  text-align: center;
  border: 1px solid #1366ce;
  background-color: #1366ce;
  padding: 12px 0;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}
.loginsection1 blockquote {
  margin: 0;
}
.loginsection1 img {
  width: 240px;
  padding-top: 10px;
  margin: 0 auto;
  display: block;
}
.loginsection1 span.maininput {
  display: flex;
  justify-content: space-around;
}
.loginsection1 h3 {
  margin-left: 25px;
}
.loginsection1 span.radioinput {
  border: 1px solid #bfbfbf;
  width: 85% !important;
  display: block;
  border-radius: 36px;
  background-color: #fff;
  padding-left: 20px;
  margin-left: 20px;
}
.loginsection1 input[type="submit"] {
  width: 240px;
  font-size: 25px;
  padding: 12px !important;
  border: 1px solid #1366ce;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 20px auto;
  color: #fff;
  background-color: #1366ce;
  display: block;
  font-weight: 600;
}
.MuiFormGroup-root.css-dmmspl-MuiFormGroup-root {
  display: block !important;
}

@media (max-width: 500px) {
  .loginsection1 h3 {
    font-size: 15px;
  }
  .loginsection1 input[type="submit"] {
    width: 206px;
    font-size: 22px;
    padding: 10px !important;
  }
  .loginsection1 h1 {
    font-size: 18px;
  }
}
