$width: 2.5px;
$height: 10px;
$duration: 1000;
$backgroundColor: #fff;
$containerWidth: 130px;
$transformOriginY: 170%;

#activity {
  background-color: $backgroundColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #333;
  margin: 0 auto;
  width: $containerWidth;
  height: $containerWidth;
}
.indicator {
  transform: translateX(50%);
  margin-left: -($width / 2);
  height: 50px;
}
@keyframes throbber {
  0% {
    background-color: white;
  }
  100% {
    background-color: #808080;
  }
}

@for $i from 0 through 11 {
  #activity .segment:nth-child(#{$i + 1}) {
    transform: rotate(#{30 * $i}deg);
    animation-delay: #{$i * $duration/12}ms;
  }
}

#activity .segment {
  position: absolute;
  height: $height;
  width: $width;
  background-color: rgba(234, 234, 234, 0.3);
  border-radius: 10px;
  -webkit-transform-origin-y: $transformOriginY;
  animation-duration: #{$duration}ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: throbber;
}
