.mainheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialicon ul {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0;
}
.socialicon ul li {
  list-style: none;
  margin-left: 10px;
}
.mainmenu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0;
}
.mainmenu ul li {
  list-style: none;
  margin-left: 22px;
}
.mainmenu ul li a {
  text-decoration: none;
  color: #808396;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 16px;
}
.mainmenu ul li a.active {
  color: #030f4b;
}
.section2 {
  text-align: center;
  margin-top: 80px !important;
  padding-top: 0px !important;
}
.section2 h1 {
  font-size: 60px;
  font-family: sans-serif;
  margin: 0;
  font-weight: 700;
}
.section2 h1 strong {
  font-size: 60px;
  margin: 0;
  font-family: inherit;
  font-weight: 800;
  color: #1366ce;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.section3 h1 {
  color: #858484;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 600;
}
.section3 h1 {
  color: #858484;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 600;
}
.section3 h2 {
  font-size: 32px;
  margin: 0;
  font-family: sans-serif;
  max-width: 850px;
}
.section3 h2 a {
  color: #000;
}
.section3 h3 {
  margin: 18px 0 10px;
  font-size: 26px;
  font-family: sans-serif;
}
.section4 .css-11reh94-MuiGrid-root > .MuiGrid-item {
  margin-top: 80px;
  padding-top: 0 !important;
}
.section4
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  width: 850px;
}
.section4 .css-1ex1afd-MuiTableCell-root {
  width: 0px;
  border: none !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.section4 .css-1ygcj2i-MuiTableCell-root {
  border: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #fff !important;
}
.section3 input {
  outline: none;
  width: 350px;
  /* padding: 5px 16px; */
  margin-bottom: 0px;
  border-radius: 26px;
}
.section3 input::placeholder {
  font-size: 14px;
  color: #868686;
}
.section3 p a {
  color: #808396;
  text-decoration: none;
  position: relative;
  bottom: 10px;
  left: 6px;
  font-size: 16px;
  font-weight: 500;
}
.section3 form {
  display: grid;
}
.section3 h3.lefttext {
  padding-left: 20px;
  font-size: 22px;
  font-family: sans-serif;
}
.section3 p {
  margin: 0;
  font-size: 18px;
}
.section3 input[type="submit"] {
  width: 340px;
  font-size: 25px;
  padding: 22px;
  border: 1px solid #1366ce;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 30px;
  color: #fff;
  background-color: #1366ce;
  margin-left: 20px;
}
.section3 p.markpara {
  font-size: 18px;
  color: #000;
  font-weight: 300;
  position: relative;
  bottom: 17px;
  left: 10px;
}
.section3 label.emailinput {
  margin-top: 24px;
}
.section3 select {
  width: 380px;
  margin-bottom: 20px;
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 25px;
  color: #868686;
  border: 1px solid #8e8d8d;
  outline: none;
}
.section3 select option {
  color: #868686;
}
.section3 ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 430px;
  margin: 0;
  justify-content: space-between;
}
.section3 ul li {
  list-style: none;
}
.section3 h3.lastinput {
  margin: 5px 0px 0;
  font-family: sans-serif;
}
.section3 ul li a {
  color: #1366ce !important;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.section4 p {
  max-width: 820px;
  font-weight: 500;
  font-family: sans-serif;
}
.section4 h2 {
  text-align: center;
  max-width: 848px;
  font-family: sans-serif;
  border: 1px solid #1366ce;
  color: #fff;
  border-top-left-radius: 15px;
  margin-bottom: 0;
  padding: 15px 0px;
  border-top-right-radius: 15px;
  background-color: #1366ce;
}
.neetable {
  display: flex;
  justify-content: space-between;
  max-width: 820px;
  background-color: #000;
  text-align: center;
  padding: 12px 15px 10px 15px;
}
.neetable ul {
  margin: 0;
}
.neetable ul li {
  list-style: none;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 12px;
}
.socialicon ul li a {
  color: #000;
}
.neetable ul li.heading {
  font-size: 20px;
  font-weight: 700;
}
.section5 h2 {
  text-align: center;
  max-width: 648px;
  border: 1px solid #1366ce;
  color: #fff;
  border-top-left-radius: 15px;
  margin-bottom: 0;
  padding: 15px 0px;
  border-top-right-radius: 15px;
  font-family: sans-serif;
  background-color: #1366ce;
}
.section4 .css-quj9j6-MuiTable-root {
  background-color: black;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 850px;
}
th {
  border: 1px solid #1366ce;
  color: #1366ce;
  font-weight: 700;
}
.section4 .css-177gid-MuiTableCell-root {
  border: none !important;
  color: #fff !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.section4 .css-1azl6jz-MuiTableCell-root {
  border: none !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  color: #fff !important;
}
.section5 .collegetable {
  max-width: 300px;
}

td {
  border: 1px solid #000;
  text-align: center;
  width: 0px;
  padding: 8px;
  color: #000;
  font-weight: 700;
}
.section5 {
  width: 50%;
  position: relative;
  left: 80px;
}
table tr th input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
table tr td input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
}
th.countrynest3 {
  padding-top: 20px;
}
table.countrynest1 {
  border: none;
}
.cartsummary ul {
  display: flex;
  max-width: 350px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
}
.cartsummary ul li {
  list-style: none;
  font-weight: 600;
}
.cartsummary ul li input {
  margin-right: 14px;
  cursor: pointer;
}
.cartsummary {
  border: 1px solid #00000029;
  width: 80%;
  padding: 15px;
}
.maincart {
  display: flex;
  justify-content: space-between;
}
.section6 {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.cartsummary h3 {
  margin: 0 0 18px;
}
.section6 button {
  padding: 14px 55px;
  border-radius: 26px;
  margin: 0 auto;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #1366ce;
  background-color: #1366ce;
  display: block;
}

.cartsummary ul li.subtotal {
  padding-left: 26px;
  font-weight: 700;
}
.cartsummary ul li.subtotal1 {
  color: #1366ce;
}
.summarycontent {
  width: 100%;
  margin-left: 50px;
  margin-right: 20px;
}
.summarycontent p {
  max-width: 450px;
}
.summarygraph {
  width: 100%;
}
.lastsection {
  display: flex;
}
.mainfooter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer1 p:nth-child(4) {
  max-width: 210px;
  line-height: 30px;
  font-size: 20px;
}
.footer1 p {
  margin: 0;
  font-weight: 400;
  width: 400px;
  color: #a0a0a0;
  line-height: 24px;
  font-size: 16px;
}
.footer1 ul {
  display: flex;
  padding: 0;
}
.footer1 ul li {
  padding-left: 10px;
  list-style: none;
}
.footer1 ul li.emailicon a {
  color: #ea4335;
}
.footer1 ul li.whatsappicon a {
  color: #25d366;
}
.footer1 ul li.facebookicon a {
  color: #1877f2;
}
.footer1 ul li.linkednicon a {
  color: #0a66c2;
}
.footer1 ul li.instaicon a {
  color: #e4405f;
}
.footer1 ul li.twittericon a {
  color: #1da1f2;
}
.footer2 ul li {
  list-style: none;
  padding-bottom: 16px;
}

.footer2 ul {
  margin: 0;
  padding: 0;
}

.footer2 ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #a0a0a0;
}
.footer3 ul li {
  list-style: none;
  padding-bottom: 16px;
}

.footer3 ul {
  margin: 0;
  padding: 0;
}

.footer3 ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #a0a0a0;
}
.footer {
  background-color: #f9f9f9;
  margin-top: 40px;
}
.lastfooter {
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}
.lastfooter h3 {
  text-align: center;
  margin: 0;
  font-weight: 500;
}
.summarygraph ul li:nth-child(2) .progress .progress_inner {
  /* background-color: #eb001b !important; */
  width: 50%;
}
.summarygraph ul li:nth-child(3) .progress .progress_inner {
  /* background-color: #ff6584 !important; */
  width: 40%;
}
.collegelocator {
  margin-top: 130px;
}
.css-1oqqzyl-MuiContainer-root {
  max-width: 1400px !important;
}
.section1 {
  margin-top: 20px;
}
.mainsection {
  display: flex;
  margin-top: 40px;
}
.section20 {
  position: sticky;
  top: 0;
  height: 0;
}
.collegelocator ul {
  display: block !important;
  margin: 0 auto;
  position: relative;
  left: 20px;
}
.collegelocator ul li {
  text-align: center;
  margin-bottom: 10px;
}
.collegelocator ul li:nth-child(1) span {
  background-color: #f37c20;
  border-color: #f37c20;
}
.collegelocator ul li:nth-child(2) span {
  background-color: #eb001b;
  border-color: #eb001b;
}
.collegelocator ul li:nth-child(1) {
  color: #f37c20;
  font-weight: 600;
  font-size: 18px;
}
.collegelocator ul li:nth-child(3) span {
  background-color: #ff6584;
  border-color: #ff6584;
}
.collegelocator ul li:nth-child(2) {
  color: #eb001b;
  font-weight: 600;
  font-size: 19px;
  margin-right: 46px;
}
.collegelocator ul li:nth-child(3) {
  margin-right: 30px;
  color: #ff6584;
  font-size: 18px;
  font-weight: 600;
}
.collegelocator ul li span {
  border: 1px solid #000;
  padding: 0px 8px;
  color: transparent;
  position: relative;
  left: -10px;
}
.progress {
  width: 265px;
  height: 2.5rem;
  transform: rotate(270deg);
  position: relative;
  background: #d9d9d9;
  border: 1px solid #d9d9d9;
  margin-top: 80px;
  left: 100px;
  margin-left: -170px;
  border-left: 4px solid #000;
}
.summarygraph ul {
  display: flex;
}
.summarygraph ul li:nth-child(1) .progress .progress_inner::before {
  content: "";
  background-image: url(../public/image/Vector35.png);
  position: absolute;
  top: -80px;
  left: 80px;
  right: 0px;
  background-repeat: no-repeat;
  bottom: 0px;
  transform: rotate(90deg);
  height: 200px;
  width: 40px;
}
.summarygraph ul li:nth-child(2) .progress .progress_inner::before {
  content: "";
  background-image: url(../public/image/Vecto36.png);
  position: absolute;
  top: -65px;
  left: 65px;
  right: 0px;
  background-repeat: no-repeat;
  bottom: 0px;
  transform: rotate(90deg);
  height: 170px;
  width: 40px;
}
.summarygraph ul li:nth-child(3) .progress .progress_inner::before {
  content: "";
  background-image: url(../public/image/Vector37.png);
  position: absolute;
  top: -40px;
  left: 40px;
  right: 0px;
  background-repeat: no-repeat;
  bottom: 0px;
  transform: rotate(90deg);
  height: 120px;
  width: 40px;
}
.summarygraph ul li {
  list-style: none;
}
.progress .progress_inner {
  position: absolute;
  width: 60%;
  height: 100%;
  /* background-color: #f37c20 !important; */
  background: -webkit-linear-gradient(
    left,
    #06b025 0%,
    #06b025 30%,
    #5faf6c 45%,
    #c5ddc6 50%,
    #5faf6c 60%,
    #06b025 70%,
    #06b025 100%
  );
  background: linear-gradient(
    left,
    #06b025 0%,
    #06b025 30%,
    #5faf6c 45%,
    #c5ddc6 50%,
    #5faf6c 60%,
    #06b025 70%,
    #06b025 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  display: inline-block;
  position: relative;
  -webkit-animation-duration: 5.25s;
  animation-duration: 5.25s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

/* for input :v */
.change {
  width: 50px;
}
.summarygraph ul li:nth-child(1) .progress .progress_inner::after {
  content: "400 Colleges";
  position: absolute;
  left: 6px;
  right: 0px;
  top: 5px;
  bottom: 0;
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
.summarygraph ul li:nth-child(2) .progress .progress_inner::after {
  content: "300 Colleges";
  position: absolute;
  left: 6px;
  right: 0px;
  top: 8px;
  bottom: 0;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}
.summarygraph ul li:nth-child(3) .progress .progress_inner::after {
  content: "300 Colleges";
  position: absolute;
  left: 6px;
  right: 0px;
  top: 10px;
  bottom: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
}
.MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border-radius: 60px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 60px;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 60px;
  width: 385px;
}

@media (max-width: 500px) {
  .section2 h1 strong {
    font-size: 30px;
  }
  .section2 h1 {
    font-size: 30px;
  }
  .section4
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    width: 345px;
  }
  .summarygraph {
    position: static;
  }
  .section3 ul {
    max-width: 350px;
  }
  .mainfooter {
    justify-content: flex-start;
    padding-left: 12px;
  }
  .footer1 p {
    max-width: 360px;
  }
  .section3 input {
    width: 320px;
  }
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiAutocomplete-inputRoot.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root {
    width: 348px;
  }
  .section3 input[type="submit"] {
    margin-left: 0;
  }
  .css-11reh94-MuiGrid-root > .MuiGrid-item {
    padding-top: 12px !important;
  }
  .section4 h2 {
    font-size: 16px;
    max-width: 377px;
  }
  .cartsummary {
    width: 100%;
  }
  .summarycontent {
    margin-left: 2px;
  }
  .progress {
    margin-top: 100px;
    left: 60px;
  }
  .summarygraph {
    width: 100%;
  }
  .collegelocator ul {
    right: 10px;
  }
  .collegelocator ul li:nth-child(3) {
    margin-right: 33px;
  }
  .collegelocator {
    margin-top: 135px;
  }
  .socialicon {
    display: none;
  }
  .section3 h2 {
    font-size: 20px;
  }
  .section3 h3 {
    font-size: 22px;
  }
  .section3 h3.lefttext {
    font-size: 18px;
  }
  .maincart {
    flex-wrap: wrap;
  }
}
