.mainheader {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.socialicon ul {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0;
}
.socialicon ul li {
  list-style: none;
  margin-left: 10px;
}
.mainmenu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 0;
}
.mainmenu ul li {
  list-style: none;
  margin-left: 22px;
}
.mainmenu ul li a {
  text-decoration: none;
  color: #808396;
  font-weight: 500;
  font-size: 16px;
}
.mainmenu ul li a.active {
  color: #030f4b;
}
.section2 {
  text-align: center;
  margin-top: 40px;
}
.section2 h1 {
  font-size: 60px;
  margin: 0;
  font-family: inherit;
  font-weight: 700;
}
.section2 h1 strong {
  font-size: 60px;
  margin: 0;
  font-family: inherit;
  font-weight: 800;
  color: #1366ce;
}
.container {
  max-width: 1350px;
  margin: 0 auto;
}
.section3 h1 {
  color: #858484;
  font-size: 26px;
  font-weight: 600;
}
.section3 h1 {
  color: #858484;
  font-size: 26px;
  font-weight: 600;
}
.section3 h2 {
  font-size: 32px;
  margin: 0;
}
.section3 h2 a {
  color: #000;
}
.section3 h3 {
  margin: 45px 0 10px;
  font-size: 26px;
}
.section3 label {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 5px;
}
.section3 input[type="text"] {
  outline: none;
  border: 1px solid;
  width: 350px;
  padding: 12px 16px;
  border-radius: 26px;
}
.section3 input[type="text"]::placeholder {
  font-size: 14px;
  color: #868686;
}
