.bluepara {
  font-style: italic;
  font-size: 18px;
  color: darkblue !important;
}

.banner-firstText {
  span {
    color: #1366ce;
    font-size: 36px;
    font-weight: 500;
  }
}
.feach {
  gap: 0px;
}
.featurescontentdiv > div {
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.featurescontentdiv {
  // margin: 0;
  // padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.featuresheadingdiv {
  background-color: rgb(43, 43, 127);
  padding: 40px 20px;
  width: 170px px;
  display: block;
}

@media (max-width: 1200px) {
  .featuresheadingdiv {
    display: none;
  }
}

@media (max-width: 1200px) {
  .page-section h2 {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .bloxfeatures {
    width: 100%;
    max-width: 95%;
    h2 {
      font-size: 20px !important;
    }
    p {
      font-size: 14px !important;
    }
    .featurescontentdiv > div {
      padding-bottom: 40px !important;
    }
  }
}
