.homebanner {
  overflow: hidden;
  background: url(/img/pgBannerBackground.png);
  background-repeat: no-repeat;
  object-fit: cover;
  padding-bottom: 12%;
}
.bannercontainer {
  margin-top: 0px;
  margin-bottom: 0px;
}
.admission_banner {
  padding: 4% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 76vh;
}
.admission_banner h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  margin-bottom: 15px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.admission_banner p {
  font-size: 18px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.introduction-home #home-para2 {
  margin-top: 1% !important;
}
.admission-banner .bannerText {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 158%;
  text-align: center;
}

.bannerText span {
  font-family: poppins;
  font-size: 42px;
  font-weight: 600 !important;
  color: #1366ce;
  letter-spacing: 0.08em;
  text-align: center !important;
  animation: blink-caret 0.75s step-end infinite;
  margin: 0 auto;
  display: block;
}

.admission_banner .bannerText p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 158%;
  padding: 0 2%;
  margin: 2% 0 !important;
}
.readmore {
  width: auto;
  text-align: center;
  margin-top: 3% !important;
}
.readmore a {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 158%;
  /* identical to box height, or 51px */

  color: #ffffff;
  background: #335dff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 5%;
}

.introduction_home {
  height: 65vh;
  display: flex;
  flex-direction: column;
}
.introduction_home h2 {
  margin: 0 0 4% 0 !important;
}
.introduction_home p {
  text-align: justify;
  font-size: 18px !important;
  font-weight: 300;
}

@media (max-width: 768px) {
  .homebanner {
    padding-bottom: 45%;
  }
.bannerText span {
  font-size: 24px;
}
.admission_banner {
  p {
    font-size: 14px !important;
    font-weight: 300;
  }
}
  }